@model IEnumerable<WebAppEka.ViewModels.OrderRows>



<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<table class="table table-striped  px-2">
    <thead>
        <tr class="font-weight-bold">
            <th>@Html.DisplayNameFor(model => model.OrderID)</th>
            <th>@Html.DisplayNameFor(model => model.ProductID)</th>
            <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.Discount)</th>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            @*<th>@Html.DisplayNameFor(model => model.SupplierID)</th>
            <th>@Html.DisplayNameFor(model => model.CategoryID)</th>*@
            <th>@Html.DisplayNameFor(model => model.QuantityPerUnit)</th>
            <th>@Html.DisplayNameFor(model => model.UnitsInStock)</th>
            @*<th>@Html.DisplayNameFor(model => model.UnitsOnOrder)</th>
            <th>@Html.DisplayNameFor(model => model.ReorderLevel)</th>
            <th>@Html.DisplayNameFor(model => model.Discontinued)</th>
            <th>@Html.DisplayNameFor(model => model.ImageLink)</th>*@
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OrderID)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductID)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.Discount)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                @*<td>@Html.DisplayFor(modelItem => item.SupplierID)</td>
                <td>@Html.DisplayFor(modelItem => item.CategoryID)</td>*@
                <td>@Html.DisplayFor(modelItem => item.QuantityPerUnit)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitsInStock)</td>
                @*<td>@Html.DisplayFor(modelItem => item.UnitsOnOrder)</td>
                <td>@Html.DisplayFor(modelItem => item.ReorderLevel)</td>
                <td>@Html.DisplayFor(modelItem => item.Discontinued)</td>
                <td>@Html.DisplayFor(modelItem => item.ImageLink)</td>*@
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>

                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }
    </tbody>
</table>
