@model PagedList.IPagedList<WebAppEka.Models.Orders>
@using PagedList.Mvc;
@*@model IEnumerable<WebAppEka.Models.Orders>*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

@*script that listens to the dropdown, if its value has been changed*@

@section scripts {
    <script type="text/javascript">
        $("#singleSelectShipperID").on("change", function () {
            //getting value to apumuuttaja
            var selValue = $("#singleSelectShipperID").val();
            //script updates the hiden input field
            document.getElementById("OrderShipper").value = selValue;
        });
    </script>

}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Tilausten yhteenveto", "Ordersummary")
</p>
@using (Html.BeginForm("Index", "Orders", FormMethod.Get))
{
    <div class="input-group">
        <p class="px-1">@Html.Label("Find by name:")</p>
        @*<p class="px-1">@Html.TextBox("SearchString1", ViewBag.currentFilter1 as string, new { @class = "form-control" })</p>*@
        <p class="px-1">@Html.Label("Choose shipper:")</p>
        <p class="px-1" style="visibility:hidden">@Html.TextBox("OrderShipper", ViewBag.currentFilter1 as string, new { @id = "OrderShipper", @class = "form-control" })</p>
        <p class="px-1">@Html.DropDownList("ShipperID", null, htmlAttributes: new { @id = "singleSelectShipperID", @class = "form-control" })</p>




        <p class="px-1"><input type="submit" value="Search" class="form-control" /></p>

    </div>



}
<table class="table">
    <tr>
        <th> OrderDate</th>
        <th>RequiredDate</th>
        <th>ShippedDate</th>
        <th>Freight</th>
        <th>ShipName</th>
        @*<th>ShipAddress</th>
        <th>ShipCity</th>
        <th>ShipRegion</th>
        <th>ShipPostalCode</th>
        <th>ShipCountry</th>
        <th>Customers.CompanyName</th>
        <th>Employees.LastName</th>*@
        <th>Shippers.CompanyName</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.LastName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Shippers.CompanyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("index", new { page, sortOrder = ViewBag.CurrentSort, @*currentFilter1 = ViewBag.currentFilter1,*@ currentOrderShipper = ViewBag.currentOrderShipper }))
