@model IEnumerable<WebAppEka.Models.Shippers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Show shippers regions also", "ShippersWithRegion")
</p>
<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.ShipperID)   </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th> @Html.DisplayNameFor(model => model.Phone) </th>
        <th> @Html.DisplayNameFor(model => model.RegionID) </th>
        <th> @Html.DisplayNameFor(model => model.Region.RegionDescription) </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>    @Html.DisplayFor(modelItem => item.ShipperID) </td>
    <td>
        @Html.DisplayFor(modelItem => item.CompanyName)
    </td>
    <td> @Html.DisplayFor(modelItem => item.Phone) </td>
    <td> @Html.DisplayFor(modelItem => item.RegionID) </td>
    <td> @Html.DisplayFor(model => item.Region.RegionDescription) </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ShipperID }) |
       
        @Html.ActionLink("Delete", "Delete", new { id = item.ShipperID })
        <a class="btn-outline-primary"href="~/Shippers/Edit/@item.ShipperID"><img class="linkIMG"src="~/Icons/x-circle.svg" /></a>
    </td>
</tr>
}

</table>
