@model IEnumerable<WebAppEka.ViewModels.ShipperRegion>

@{
    ViewBag.Title = "ShippersWithRegion";
}

<h2>ShippersWithRegion</h2>

<p>
    @Html.ActionLink("Back to simple list", "Index")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <th>@Html.DisplayNameFor(model => model.RegionDescription)</th>
        <th>@Html.DisplayNameFor(model => model.RegionID)</th>
        <th>@Html.DisplayNameFor(model => model.ShipperID)</th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
    <td>@Html.DisplayFor(modelItem => item.RegionDescription)</td>
    <td>@Html.DisplayFor(modelItem => item.RegionID)</td>
    <td>@Html.DisplayFor(modelItem => item.ShipperID)</td>

    @*<td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>*@
</tr>
}

</table>
